* {
    -fx-background-color: #2d2d2e;
}

.big {
   -fx-font-size: 16pt;
}

Button, Label, ChoiceBox, Slider {
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #242424;
}

Button:hover {
    -fx-background-color: #4d4c4c;
}

ChoiceBox >* {
    -fx-background-color: #242424;
}

Slider .axis {
    -fx-tick-label-fill: white;
}

Slider .track {
    -fx-background-color: #242424;
}

Slider .track:hover {
    -fx-background-color: #4d4c4c;
}

Slider .thumb {
    -fx-background-color: #4d4c4c;
}